<div class="row">

			<div class="row">
				<div class="col-lg-12">
					<h1>Record Bin</h1>
				</div>
				</div>

			<div class="row">
				<div class="col-md-4" id="searchArea">

					  <%= form_tag user_path, :method => 'get' do %>
					  	<label for="search-by">Search By</label>
									<select name="search_by" id="search-by">
						    		<option value="title">Title</option>
						      	<option value="city">City</option>
						      	<option value="address">Address</option>
						      	<option value="content">Content</option>
									</select>
						<%= text_field_tag :search, params[:search], class: "form-control"%><br>
						<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
	  				<% end %>
				</div>
				</div>


				<div class="row">
				<div class="col-lg-12">
					<span id="showList" >View as List</span>
					<span id="showMap"  class="btn btn-link">View as Map</span>
				</div><br>
				</div>

				<div class="row">
				<div class="col-lg-12">
					<a class="btn btn-primary btn-lg"  href="/tasks/new">New Want</a>
					<div id="listDisplay">
							<% @tasks.each do |task| %>
							<a href="/tasks/<%= task.id %>">
							<div class="taskDisplay">
								Record Title: <%= task.title %><br>
								Asking Price: <%= task.duedate %><br>
					</div></a>
							<% end %>
				</div>

			<div id="map-wrapper" style="display:none"> 
				<div id="map" style='height: 400px;'></div>
			</div>

		</div>
	</div>
			<!-- pass task data from server to client, so javascript can handle that on map-->
			<%= content_tag :div, class: "tasks_class", data: {tasks: @tasks} do %>
			<% end %>

</div>

<script type="text/javascript">
	var map;
	var bounds;
	var tasks = $(".tasks_class").data("tasks");

	function initMap() {
	    map = new google.maps.Map(document.getElementById('map'),{
	  	    center: {lat: 40.7127837, lng: -74.0059413},
	   		zoom: 13
	    });

	    bounds = new google.maps.LatLngBounds();

	    tasks.forEach(function(task,index){
	    	showMarker(tasks[index],map,bounds);
	    });


	}

	function showMarker(task,map,bounds){
		var address = task.address.replace(" ","+");
		$.ajax({
			type: "GET",
			url: "https://maps.googleapis.com/maps/api/geocode/json?address="+address+"&key=<%= ENV['GOOGLE_GEOCODE_API'] %>",
			success: function(data){
				var marker = new google.maps.Marker({
				    position: data.results[0].geometry.location,
				    map: map,
				    title: task.title
			    });		
			    var infoContent = "<div><h4>"+task.title+"</h4><p>"+task.content+"</p>"+
			    				"<a href=\"/tasks/"+task.id+"\">Check Task</a>"+"</div>";
			    var infowindow = new google.maps.InfoWindow({
				    content: infoContent
				});
			    marker.addListener("click",function(){
			    	infowindow.open(map,marker);
			    })
			    bounds.extend(marker.getPosition());	
			    map.fitBounds(bounds);	
			    if(map.getZoom()>14){
					map.setZoom(14);
			    }
			}
		});	
	}	

	$(function(){

		$("#showList").on("click",function(event){
			// $("#showList").off("click");
			$("#map-wrapper").hide();
			$("#listDisplay").show();
			$(this).removeClass("btn btn-link");
			$("#showMap").addClass("btn btn-link");
			$("#searchArea").show();

		});

		$("#showMap").on("click",function(event){

			// $("#showMap").off("click");
			$("#listDisplay").hide();
			$("#map-wrapper").show();
			initMap();
			$(this).removeClass("btn btn-link");
			$("#showList").addClass("btn btn-link");			
			$("#searchArea").hide();

		});

	})

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap">
</script>
